<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Reset Password </title>

  <link th:replace="~{fragments/header :: bootstrap-css}">
  <link th:replace="~{fragments/header :: css}">
  <link th:replace="~{fragments/header :: bootstrap-icons}">

</head>
<body class="bg-main">

<div class="container">
  <div class="row d-flex justify-content-center align-items-center h-full">
    <div class="col-4">

      <form class="form-signin" name="password reset form" method="post" th:action="@{/reset-password}">

        <div class="d-flex justify-content-center mb-3">
          <img th:src="@{/images/bipsync-logo.svg}" id="loginLogo">
        </div>

        <div th:if="${error}" class="error-message">
          <p th:text="${error}"></p>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Email" id="email" name="email">
          <label for="email">Email address</label>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-lg btn-btnMain btn-block" type="submit" value="Reset Password">Reset Password</button>
        </div>

      </form>

    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
<div th:replace="~{fragments/footer :: js}"></div>

</body>
</html>