<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Item</title>

  <link th:replace="~{fragments/header :: bootstrap-css}"/>
  <link th:replace="~{fragments/header :: css}"/>
  <link th:replace="~{fragments/header :: bootstrap-icons}"/>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
<div th:replace="~{fragments/header :: navbar}"/>

<main>
  <div class="container mt-5 p-5">
    <h2 class="text-center">Edit Item Details</h2>

    <form th:action="@{/items/update}" method="post" th:object="${item}" class="was-validated" onsubmit="return confirm('Are you sure you want to update the information?')">
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{ownerId}"/>
      <input type="hidden" th:field="*{isComplete}"/>

      <div class="form-group">
        <label for="item">Title:</label>
        <input id="item" type="text" th:field="*{title}" maxlength="50" class="form-control" required/>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" type="text" th:field="*{description}" maxlength="75" class="form-control" required/>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <span th:if="${#strings.contains(item.ownerId, 't')}">
          <input type="hidden" th:field="*{dueDate}" th:value="0000-00-00"/>
      </span>
      <span th:unless="${#strings.contains(item.ownerId, 't')}">
        <div class="form-group">
          <label for="dueDate">Due Date:</label>
          <input id="dueDate" name="dueDate" type="date" max="9999-12-31" th:field="*{dueDate}" class="form-control" required/>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Invalid Email</div>
        </div>
      </span>

      <div class="form-group">
        <label th:object="${contacts}" id="contactsId" for="contactsId">Contacts:</label>
        <select th:field="*{contactsId}" class="form-control" required>
          <option th:each="contact : ${contacts}" th:value="${contact.id}" th:text="${contact.name}"></option>
        </select>
      </div>
      <br>

      <button type="submit" class="btn btn-primary">Update Item</button>

    </form>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div th:replace="~{fragments/footer :: footer-links}" class="mt-auto"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
<div th:replace="~{fragments/footer :: js}"></div>

</body>
</html>
